/*
    MainLayout.razor.css
*/

.app-layout {

    height: 100vh;
    display: flex;
    flex-direction: column;
/*    overflow: hidden;*/
}

.main-content {
    flex: 1;
    display: flex;
/*    overflow: hidden;*/
    min-height: 0;
}
